Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [5]:
ratings = pd.read_csv('D:\\Python_homework\\pyda_homeworks\\pandas_library\\ml-latest-small\\ratings.csv')

In [6]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [39]:
ratings[ratings.rating==5.0][['movieId','rating']].groupby('movieId').count().sort_values('rating',ascending = False)

         rating
movieId
318         153
296         123
356         116
2571        109
260         104
...         ...
6732          1
6731          1
6713          1
2066          1
187717        1

[2954 rows x 1 columns]

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [40]:
power = pd.read_csv('D:\\Python_homework\\pyda_homeworks\\pandas_library\\power.csv')

In [41]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [64]:
filtered_countries = power[(power.country == 'Estonia')|(power.country == 'Lithuania')|(power.country == 'Latvia')]

In [67]:
filtered_countries_years = filtered_countries[(filtered_countries['year']>=2005) & (filtered_countries['year']<=2010)]

In [68]:
filtered_countries_years_categories = filtered_countries_years.query('category == 4 | category == 12 | category == 21')

In [70]:
power_consumption = filtered_countries_years_categories.query('quantity > 0')

In [71]:
power_consumption['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [85]:
query = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf8')

In [86]:
query[1]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1039605,-,1038636,"0,09 %",00970,01.05.2021
1,NaN,EUR/RUB,904030,-,904095,"-0,01 %",-00065,01.05.2021
2,NaN,USD/RUB,752410,-,752410,"0,00 %",00000,01.05.2021
3,NaN,JPY/RUB,06884,-,06877,"0,11 %",00007,01.05.2021
4,NaN,CNY/RUB,116211,-,116111,"0,09 %",00099,01.05.2021
5,NaN,CHF/RUB,824004,-,823399,"0,07 %",00605,01.05.2021
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,12022,-,12018,"0,03 %",00004,01.05.2021
8,NaN,EUR/GBP,08701,-,08701,"0,00 %",00000,01.05.2021
9,NaN,EUR/JPY,1313550,-,1314300,"-0,06 %",-00750,01.05.2021
10,NaN,EUR/CHF,10976,-,10983,"-0,06 %",-00007,01.05.2021
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08318,-,08319,"-0,01 %",-00001,01.05.2021
13,NaN,USD/GBP,07238,-,07238,"-0,01 %",-00001,01.05.2021
14,NaN,USD/JPY,1092950,-,1092900,"0,00 %",00050,01.05.2021
15,NaN,USD/CHF,09131,-,09130,"0,01 %",00001,01.05.2021
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),07600,-,07600,"0,01 %",00000,01.05.2021
18,NaN,JPY/GBP,00066,-,00066,"0,01 %",00000,01.05.2021
19,NaN,JPY/USD,00092,-,00092,"0,02 %",00000,01.05.2021
20,NaN,JPY/CHF (100:1),08300,-,08400,"-0,03 %",00000,01.05.2021
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,13817,-,13817,"0,00 %",00001,01.05.2021
23,NaN,GBP/JPY,1510129,-,1510310,"-0,01 %",-00181,01.05.2021
24,NaN,GBP/EUR,11492,-,11492,"0,00 %",00000,01.05.2021
25,NaN,GBP/CHF,12609,-,12609,"0,00 %",00000,01.05.2021
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,12609,-,12609,"0,00 %",00000,01.05.2021
28,NaN,EUR/CHF,10976,-,10983,"-0,06 %",-00007,01.05.2021
29,NaN,JPY/CHF (100:1),08300,-,08400,"-0,03 %",00000,01.05.2021
30,NaN,USD/CHF,09131,-,09130,"0,01 %",00001,01.05.2021
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,333885,-,334351,"-0,14 %",-00467,01.05.2021
33,NaN,USD/UAH,277728,-,278151,"-0,15 %",-00424,01.05.2021
34,NaN,CHF/UAH,304155,-,304656,"-0,16 %",-00501,01.05.2021
35,NaN,GBP/UAH,383738,-,384293,"-0,14 %",-00556,01.05.2021